.call-to-action
  width: 73.8%
  margin: 0 auto
  &__button
    display: block
    margin: 0 auto 4.2em
  &__intro
    margin-top: 3.4em
    margin-bottom: 0
    &--subtitle
      margin-bottom: 1.4em
