.header
  position: relative
  &__content
    width: 70%
    display: flex
    flex-direction: column
    align-items: center
    position: absolute
    bottom: 25.2%
    left: 50%
    transform: translateX(-50%)
  &__title
    +novecento
    text-transform: uppercase
    color: #fff
    font-size: 2.3em
    line-height: 1.05em
    margin-bottom: 0.45em
    &--key
      color: $main
  &__subtitle
    +helvetica-l
    color: #fff
    font-size: 1.41rem
    line-height: 1.5em
    margin-bottom: 1em



.topnav
  width: 73.8%
  margin: 0 auto
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  &__main
    height: 116px
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #fff
  &__logo
    +pacific
    font-size: 2.5em
    color: #fff
    text-decoration: none
  &__social
    list-style: none
    margin-top: 20px
    &:last-child
      margin-right: 2px
    &--item
      display: inline-block
      width: 34px
      height: 34px
      background: #fff
      opacity: 0.5
      border-radius: 50%
      text-align: center
      font-size: 1.1em
      line-height: 2.1em
      margin-left: 6px
      &:hover
        opacity: 1
    &--link
      color: #6C6050
  &__menu
    margin-top: 1.3em
    +novecento
    text-transform: uppercase
    list-style: none
    font-size: 1.15rem
    &--item
      display: inline-block
      margin-right: 1.85em
      &:first-child .topnav__menu--link
        color: $main
    &--link
      color: #fff
      text-decoration: none
      &:hover
        text-decoration: underline
    &--search
      float: right
      margin-right: 0


.header-slider
  position: relative
  &__wrap
    position: relative
  &--item1
    height: 600px
    background: url('../img/slider/slider-1.jpg') no-repeat center
    background-size: cover
  &--item2
    height: 505px
    background: url('../img/slider/slider-2.jpg') no-repeat center
    background-size: cover
  &--item3
    height: 505px
    background: url('../img/slider/rally1.jpg') no-repeat center
    background-size: cover
  &--item4
    height: 505px
    background: url('../img/slider/rally4.jpg') no-repeat center
    background-size: cover
  .slick-dots
    width: 10%
    left: 50%
    transform: translateX(-50%)
    bottom: 3%
    & li
      width: 20px
      margin: 0
      & button
        margin: 0
        width: 5px
        height: 5px
        background: #fff
        border-radius: 50%
        &::before
          content: ""
  .slick-active
    & button
      width: 15px !important
      height: 15px  !important
  .slick-prev
    left: 5%
    z-index: 9999
  .slick-next
    right: 9%
    z-index: 9999
  .slick-prev:before, .slick-next:before
    font-size: 4rem
    border-radius: 50%
  .slick-dotted
    &.slick-slider
      margin-bottom: 0 !important
