* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Light"), url("../fonts/helveticaneue/HelveticaNeueLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Medium"), url("../fonts/helveticaneue/HelveticaNeueMedium.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvetica Neue Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Bold"), url("../fonts/helveticaneue/HelveticaNeueBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecento Sans Wide';
  src: url("../fonts/novecentosanswide/Novecentosanswide-DemiBold-webfont.eot");
  src: url("../fonts/novecentosanswide/Novecentosanswide-DemiBold-webfont.eot") format("embedded-opentype"), url("../fonts/novecentosanswide/Novecentosanswide-DemiBold-webfont.woff2") format("woff2"), url("../fonts/novecentosanswide/Novecentosanswide-DemiBold-webfont.woff") format("woff"), url("../fonts/novecentosanswide/Novecentosanswide-DemiBold-webfont.ttf") format("truetype"), url("../fonts/novecentosanswide/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_wide_bookbold") format("svg");
  font-weight: 600;
  font-style: normal; }

.button {
  width: 103px;
  height: 34px;
  font-family: 'Novecento Sans Wide';
  text-transform: uppercase;
  color: #fff;
  background: #87B672;
  border: 2px solid #87B672;
  outline: none;
  position: relative;
  overflow: hidden; }
  .button:hover {
    cursor: pointer; }
    .button:hover::before {
      left: 250px;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s; }
  .button:active {
    color: #63974B;
    border-color: #63974B; }
  .button:focus {
    outline: none; }
  .button::before {
    content: "";
    width: 60px;
    height: 60px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    opacity: 0.5;
    -webkit-transform: skewX(-40deg);
        -ms-transform: skewX(-40deg);
            transform: skewX(-40deg);
    position: absolute;
    top: -10px;
    left: -150px; }
  .button--o {
    width: 103px;
    height: 34px;
    font-family: 'Novecento Sans Wide';
    text-transform: uppercase;
    font-size: 0.75em;
    color: #fff;
    outline: none;
    background: transparent;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden; }
    .button--o:hover {
      cursor: pointer; }
      .button--o:hover::before {
        left: 250px;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s; }
    .button--o:active {
      color: #87B672;
      border-color: #87B672; }
    .button--o:focus {
      outline: none; }
    .button--o::before {
      content: "";
      width: 60px;
      height: 60px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
      background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
      background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
      opacity: 0.3;
      -webkit-transform: skewX(-40deg);
          -ms-transform: skewX(-40deg);
              transform: skewX(-40deg);
      position: absolute;
      top: -10px;
      left: -150px; }

.intro {
  text-align: center; }
  .intro__title {
    margin-bottom: 0.65em;
    font-family: 'Novecento Sans Wide';
    font-size: 1.18rem;
    color: #666262;
    text-transform: uppercase; }
  .intro__subtitle {
    margin: 0 auto;
    width: 75%;
    display: block;
    font-family: 'Helvetica Neue Light';
    font-size: 0.9rem;
    line-height: 1.5em;
    color: #9B9999; }

.header {
  background: url("../img/slider/slider-1.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }
  .header__content {
    width: 70%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 24.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .header__title {
    font-family: 'Novecento Sans Wide';
    text-transform: uppercase;
    color: #fff;
    font-size: 1.93em;
    margin-bottom: 13px; }
    .header__title--key {
      color: #87B672; }
  .header__subtitle {
    font-family: 'Helvetica Neue Light';
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 21px; }

.topnav {
  width: 74%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .topnav__main {
    height: 98px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #fff; }
  .topnav__logo {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #fff;
    text-decoration: none; }
  .topnav__social {
    list-style: none;
    margin-right: 4px; }
    .topnav__social--item {
      display: inline-block;
      width: 29px;
      height: 29px;
      background: #fff;
      opacity: 0.5;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      font-size: 1em;
      line-height: 2em;
      margin-top: 18px;
      margin-left: 4px; }
      .topnav__social--item:hover {
        opacity: 1; }
    .topnav__social--link {
      color: #6C6050; }
  .topnav__menu {
    margin-top: 20px;
    font-family: 'Novecento Sans Wide';
    text-transform: uppercase;
    list-style: none;
    font-size: 1em; }
    .topnav__menu--item {
      display: inline-block;
      margin-right: 27px; }
      .topnav__menu--item:first-child .topnav__menu--link {
        color: #87B672; }
    .topnav__menu--link {
      color: #fff;
      text-decoration: none; }
      .topnav__menu--link:hover {
        text-decoration: underline; }
    .topnav__menu--search {
      float: right;
      margin-right: 0; }

.header-slider {
  width: 100%;
  height: 505px;
  position: relative; }
  .header-slider__wrap {
    position: relative; }
  .header-slider--item1 {
    width: 100%;
    height: 505px;
    background: url("../img/slider/slider-1.jpg") no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }
  .header-slider--item2 {
    width: 100%;
    height: 505px;
    background: url("../img/slider/slider-2.jpg") no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }
  .header-slider--item3 {
    width: 100%;
    height: 505px;
    background: url("../img/slider/rally1.jpg") no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }
  .header-slider--item4 {
    width: 100%;
    height: 505px;
    background: url("../img/slider/rally4.jpg") no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }
  .header-slider .slick-dots {
    width: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 3%; }
    .header-slider .slick-dots li {
      width: 20px;
      margin: 0; }
      .header-slider .slick-dots li button {
        margin: 0;
        width: 5px;
        height: 5px;
        background: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        .header-slider .slick-dots li button::before {
          content: ""; }
  .header-slider .slick-active button {
    width: 15px !important;
    height: 15px  !important; }
  .header-slider .slick-prev {
    left: 5%;
    z-index: 9999; }
  .header-slider .slick-next {
    right: 9%;
    z-index: 9999; }
  .header-slider .slick-prev:before, .header-slider .slick-next:before {
    font-size: 4rem;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .header-slider .slick-dotted.slick-slider {
    margin-bottom: 0 !important; }

.services {
  background: #fff;
  width: 74%;
  margin: 0 auto;
  padding-top: 1em; }
  .services__row {
    border-top: 1px solid #CCC;
    margin-top: 2.8em;
    padding-top: 3.0em;
    padding-bottom: 2.9em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .services__item {
    text-align: center;
    -webkit-flex-basis: 31.2%;
        -ms-flex-preferred-size: 31.2%;
            flex-basis: 31.2%; }
    .services__item--img {
      font-size: 4.4rem;
      color: #B9B7B7; }
    .services__item--title {
      margin-top: 1.1em;
      font-family: 'Helvetica Neue Medium';
      color: #666262;
      font-size: 0.9rem;
      text-transform: uppercase; }
    .services__item--text {
      margin-top: 1.1em;
      font-family: 'Helvetica Neue Medium';
      color: #9B9999;
      font-size: 0.8rem;
      line-height: 1.7em;
      margin-bottom: 1.25em; }
    .services__item--link {
      font-family: 'Helvetica Neue Light';
      color: #87B672;
      font-size: 0.9rem;
      text-decoration: none; }
      .services__item--link:hover {
        text-decoration: underline; }

.portfolio {
  background: -webkit-linear-gradient(top, #EFEFEF 332px, #fff 180px);
  background: -o-linear-gradient(top, #EFEFEF 332px, #fff 180px);
  background: linear-gradient(to bottom, #EFEFEF 332px, #fff 180px); }
  .portfolio__wrap {
    width: 74%;
    margin: 0 auto;
    border-bottom: 1px solid #CCC;
    padding-bottom: 3em; }
  .portfolio__row {
    margin-top: 1.2em;
    text-align: center;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .portfolio__items {
    min-width: 300px; }
  .portfolio__img {
    height: 200px;
    position: relative;
    outline: 1px solid green;
    margin-top: 0.2em; }
    .portfolio__img--first {
      background: url("../img/portfolio-1.png") no-repeat center;
      -webkit-background-size: contain;
              background-size: contain; }
    .portfolio__img--second {
      background: url("../img/portfolio-2.png") no-repeat center;
      -webkit-background-size: contain;
              background-size: contain; }
    .portfolio__img--three {
      background: url("../img/portfolio-3.png") no-repeat center;
      -webkit-background-size: contain;
              background-size: contain; }
    .portfolio__img--overlay {
      position: absolute;
      top: 15%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      outline: 1px solid red;
      width: 74%;
      height: 62.5%;
      background: #efefef;
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .portfolio__img--overlay:hover {
        opacity: 0.5; }
    .portfolio__img--add {
      font-size: 3.3rem;
      position: absolute;
      top: 52%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 999;
      color: #464C52; }
  .portfolio__title {
    display: block;
    font-size: 0.95rem;
    line-height: 1.1em;
    font-family: 'Novecento Sans Wide';
    color: #666262;
    text-transform: uppercase; }
  .portfolio__intro {
    padding-top: 2.85em; }

.call-to-action {
  width: 74%;
  margin: 0 auto; }
  .call-to-action__button {
    display: block;
    margin: 0 auto 3.75em; }
  .call-to-action__intro {
    margin-top: 2.85em;
    margin-bottom: 0; }
    .call-to-action__intro--subtitle {
      margin-bottom: 20px; }

.footer {
  background: #333333; }
  .footer__row {
    width: 74%;
    margin: 0 auto; }
    .footer__row--inner {
      width: 40%; }
    .footer__row--topnav-main {
      border-bottom: none; }
